<!DOCTYPE html>
<html>
  <head>
    <title>Hoot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.sign = "<%= image_url('signup_illustration.png') %>"
    </script>
    <% if current_user  %>
      <script>
      window.currentUser = {
        "id": <%= current_user.id  %>,
        "first_name": "<%= current_user.first_name %>",
        "last_name": "<%= current_user.last_name %>"
      };
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
