<!DOCTYPE html>
<html>
  <head>
    <title>hootz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

     <script src="https://kit.fontawesome.com/0deb597c3f.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      window.sign = "<%= image_url('signup_illustration.png') %>"
      window.hootz = "<%= image_url('hootz_nolines.png') %>"
      window.hootz2 = "<%= image_url('hootz_line.png') %>"
      window.city = "<%= image_url('footer_cityscape.png') %>"
      window.salad = "<%= image_url('salad.jpg') %>"
      window.burger = "<%= image_url('burger.jpg') %>"
      window.pasta = "<%= image_url('pasta.jpg') %>"
      window.pizza = "<%= image_url('pizza.jpg') %>"
    </script>
    <% if current_user  %>
      <script>
      window.currentUser = {
        "id": <%= current_user.id  %>,
        "first_name": "<%= current_user.first_name %>",
        "last_name": "<%= current_user.last_name %>",
        "zipcode": "<%= current_user.zipcode %>"
      };
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
